<td>
  <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
  <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
  <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
</td>

From Application Index
<li><a href="/rails/info">Sitemap</a></li>

<li><a href="/comments">Comments</a></li>



